<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>LocadoraProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cadClasse</servlet-name>
    <servlet-class>controller.ctrlCadastrarCadastrarClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadClasse</servlet-name>
    <url-pattern>/classe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cadCliente</servlet-name>
    <servlet-class>controller.ctrlCadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadCliente</servlet-name>
    <url-pattern>/cliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cadAtor</servlet-name>
    <servlet-class>controller.ctrlCadastrarAtor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadAtor</servlet-name>
    <url-pattern>/ator</url-pattern>
  </servlet-mapping>
</web-app>