.navbar-inverse .navbar-brand{color:;}

.navbar .glyphicon {color: grey;}

.navbar-inverse .navbar-nav > li > a{
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: grey;
}

.navbar-inverse .navbar-brand{
	color: white;
}
.navbar-inverse .navbar-brand:hover {
	color:grey;
}	

.navbar-inverse{
	padding-top: 0px;
	padding-bottom: 0px;
}


body { padding-top: 70px; }

.btn{
	margin-right: 20px;
	margin-bottom: 20px;
}

legend{
	margin-top: 20px;
}